@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
   -webkit-tap-highlight-color: transparent;
}

*::before,
*::after {
box-sizing: border-box;
}

img {
   display: block;
   width: 100%;
}

svg {
   pointer-events: none;
   display: block;
}

.deposit_main_container {
   width: 100vw;
   margin-top: 20px;
   display: flex;
   align-items: center;
   justify-content: center;
   height: 100dvh;
}

.deposit_inner_wraper {
   max-width: 99px;
   width: 100%;
   background-color: #872cee;
   font-size: 18px;
   color: #ffffff;
   font-family: "Poppins", sans-serif;
   font-weight: 900;
   border-radius: 5px;
   padding: 10px;
   line-height: 1;
   letter-spacing: 1.2px;
   display: flex;
   align-items: center;
   text-transform: uppercase;
   transition: width 400ms ease;
}

.deposit_inner_wraper:has(.deposit_icon_wrap.animation_pause) {
   width: 40px;
}

.deposit_icon_wrap {
   display: flex;
   align-items: center;
   justify-content: center;
   position: relative;
   overflow: hidden;
   height: 18px;
   transition: width 500ms ease, height 500ms ease;
}

.animation_img svg {
   display: block;
   height: 1.1ch;
}
.animation_one,
.animation_two {
   display: block;
   pointer-events: none;
   display: flex;
   flex-direction: column;
}

.wallet_img {
   transform: translateX(100%);
   transition: all 500ms ease;
   position: absolute;
   left: 100%;
   top: 0;
   pointer-events: none;
}

.animation_one {
   animation: animeUP 5s ease infinite;
}

.animation_two {
   animation: animeDown 5s ease infinite;
}
@keyframes animeUP {
    0% {
        transform: translateY(140%);
        margin-top: 36px;
    }
    10% {
    transform: translateY(0%);
    }
    80% {
    transform: translateY(0%);
    margin-top: 36px;
    }
    100% {
    transform: translateY(-140%);
    margin-top: -36px;
    }
 }
 
 @keyframes animeDown {
    0% {
    transform: translateY(-140%);
    margin-top: -36px;
    }
    10% {
    transform: translateY(0%);
    }
    80% {
    transform: translateY(0%);
    margin-top: -36px;
    }
    100% {
    transform: translateY(140%);
    margin-top: 36px;
    }
 }


@keyframes animeSide {
    0% {
    transform: translateY(-140%);
    }
    10% {
    transform: translateY(0%);
    }
    80% {
    transform: translateY(0%);
    }
    100% {
    transform: translateY(140%);
    }
 }

.animation_two.animation_img {
   position: unset;
   transition: all 1s ease-in-out;
   animation: animeSide 5s ease infinite;
   flex: 0 0 auto;
}

.deposit_icon_wrap.animation_pause {
   overflow: visible;
}

.deposit_icon_wrap.animation_pause .animation_one,
.deposit_icon_wrap.animation_pause .animation_two {
   visibility: hidden;
   opacity: 0;
   margin-left: -11.5px;
   animation-play-state: paused;
}

.deposit_icon_wrap.animation_pause .animation_two.animation_img {
   opacity: 1;
   visibility: visible;
   position: absolute;
   top: 50%;
   left: -10%;
   margin: 0 !important;
   z-index: 1;
   display: none;
}

.deposit_icon_wrap.animation_pause .rupee_img {
   opacity: 1;
   visibility: visible;
   position: absolute;
   top: 10px;
   left: -10%;
   margin: 0 !important;
   z-index: 1;
   display: block;
   width: 12px;
   height: 12px;
}

.rupee_img {
   display: none;
}

.deposit_icon_wrap.animation_pause .wallet_img {
   display: block;
   position: relative;
   inset: unset;
   animation: bounce 7000ms ease infinite;
}
@keyframes bounce {
    0% {
    transform: translateX(100%)rotate(180deg);
    }
    10%,
    80% {
    transform: translateX(0%)rotate(0deg);
    }
    100% {
    transform: translateX(100%)rotate(180deg);
    }
 }

